<div class="p-grid dashboard">
	<div class="p-col-12 p-md-6 p-lg-4">

	</div>
	<div class="p-col-12 p-md-6 p-lg-4">
		<div class="overview-box  box-users">
			<div class="overview-box-icon">
				<i class="pi pi-user"></i>
			</div>
			<div class="overview-box-title">Bienvenido</div>
			<div class="overview-box-status">Inicio</div>
		</div>
	</div>

	<div class="p-col-12 p-md-6 p-lg-4">
	</div>


	<div class="p-col-12 p-md-6 p-lg-4">
		
	</div>

	<div class="p-col-12 p-md-6 p-lg-4">

	</div>

	<div class="p-col-12 p-lg-8">

	</div>

	<div class="p-col-12 p-lg-4">

	</div>
	<div class="p-col-12 p-md-6 p-lg-4">
		
	</div>
	<div class="p-col-12 p-md-6 p-lg-4">
		
	</div>
	<div class="p-col-12 p-md-6 p-lg-4">
		
	</div>

</div>
