<div class="ui-g">
    <div class="ui-g-12">
        <div class="card no-margin">
            <h1>PRODUCTOS</h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="tablaProductos" class="table table-striped table-bordered table-condensed" style="width: 100%;">
                                <thead class="text-center">
                                    <tr>
                                        <th>Código Producto</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Fecha de caducidad</th>
                                        <th>Descripción</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let producto of productos">
                                        <td>{{producto.COD_PRODUCTO}}</td>
                                        <td>{{producto.NOMBRE}}</td>
                                        <td>{{producto.PRECIO}}</td>
                                        <td>{{producto.FECHA_CADUCIDAD}}</td>
                                        <td>{{producto.DESCRIPCION}}</td>
                                        <td>
                                            <div class="text-center">
                                                <button (click)="eliminarProducto(producto.COD_PRODUCTO)" class="btn btn-danger">Eliminar</button>
                                                <button (click)="modificarProducto(producto.COD_PRODUCTO)" class="btn btn-success">Modificar</button>
                                                <div class="btn-group">
                                                    
                                                    <!--<a href="index.php?update=" type="button" class="btn btn-primary">Editar</a>
                                                    <a href="index.php?delete=" type="button" class="btn btn-danger">Eliminar</a>-->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card card-w-title">
        <h1>Información del Producto</h1>
        <div class="p-grid ui-fluid">
            <div class="p-col-12 p-md-4">
                <label for="nombre">Nombre del Producto</label><br><br>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-shopping-cart"></i></span>
                    <input type="text" name="nombre" [(ngModel)]="nuevoProducto.nombre" pInputText placeholder="Nombre del Producto">         
                </div>
            </div>
            
            <div class="p-col-12 p-md-4">
                <label for="nombre">Precio del Producto</label><br><br>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">$</span>
                    <input type="text" name="precio" [(ngModel)]="nuevoProducto.precio" pInputText placeholder="Precio del producto">         
                </div>
            </div>
        </div><br><br>
        <div class="p-grid ui-fluid">
            <div class="p-col-12 p-md-4">
                <label for="nombre">Fecha de caducidad del Producto</label><br><br>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                    <input type="date" name="fecha_caducidad" [(ngModel)]="nuevoProducto.fecha_caducidad" pInputText placeholder="Fecha de caducidad del Producto">         
                </div>
            </div>
            
            <div class="p-col-12 p-md-4">
                <label for="nombre">Descripción del Producto</label><br><br>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-comments"></i></span>
                    <input type="text" name="descripcion" [(ngModel)]="nuevoProducto.descripcion" pInputText placeholder="Descripción del Producto">         
                </div>
            </div>
        </div><br><br>
        <button pButton type="button" class="btn btn-primary" label="Agregar" style="margin-bottom:10px" (click)="agregarProducto()"></button>
    </div>
</div>